static/*
labels/*
dataset/*
evaluation/*
model_arch/__pycache__
model_arch/backbones/__pycache__
model_arch/insightface/__pycache__
model_arch/backbones/backbone.pth
model_arch/weights/yolov5s-face.pt
model_arch/weights/yolov5m-face.pt